@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .row0 {
    display: flex;
    margin-left: 65px;
    margin-top: 29px;
    width: 246px;
    height: 150px;
    align-items: stretch
  }
  .style2,
  .style3 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style2 {
    margin-left: 0;
    width: 108px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtptvv.png)
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpunt.png);
    opacity: .3;
    height: 150px
  }
  .style4,
  .style5 {
    position: relative;
    height: 150px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpvlv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 1px;
    align-items: stretch;
    flex-direction: column;
    opacity: .3
  }
  .style4 {
    opacity: .5;
    flex-shrink: 0
  }
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style8 {
    margin-left: 30px;
    width: 108px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpwwk.png)
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpxnn.png);
    opacity: .3;
    height: 150px
  }
  .style10,
  .style11 {
    opacity: .3;
    position: relative;
    height: 150px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpyoj.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 2px;
    width: 1px;
    align-items: stretch;
    flex-direction: column
  }
  .style10 {
    flex-shrink: 0
  }
  .style0 {
    position: relative;
    margin-left: 0;
    margin-top: 160px;
    width: 375px;
    height: 2px
  }
  .row2 {
    display: flex;
    margin-left: 95px;
    margin-top: 2px;
    width: 218px;
    height: 18px
  }
  .style7 {
    opacity: .25;
    margin-left: 0;
    width: 215px;
    height: 100%;
    align-self: stretch
  }
  .style1,
  .style6 {
    margin-left: 101px;
    margin-top: 14px;
    width: 117px;
    height: 2px
  }
  .style1 {
    position: relative;
    margin-left: 59px;
    margin-top: 177px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .row0 {
    display: flex;
    margin-left: 133px;
    margin-top: 59px;
    width: 504px;
    height: 307px;
    align-items: stretch
  }
  .style2,
  .style3 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style2 {
    margin-left: 0;
    width: 221px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtptvv.png)
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpunt.png);
    opacity: .3;
    height: 307px
  }
  .style4,
  .style5 {
    position: relative;
    height: 307px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpvlv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 2px;
    align-items: stretch;
    flex-direction: column;
    opacity: .3
  }
  .style4 {
    opacity: .5;
    flex-shrink: 0
  }
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style8 {
    margin-left: 61px;
    width: 221px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpwwk.png)
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpxnn.png);
    opacity: .3;
    height: 307px
  }
  .style10,
  .style11 {
    opacity: .3;
    position: relative;
    height: 307px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpyoj.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 4px;
    width: 2px;
    align-items: stretch;
    flex-direction: column
  }
  .style10 {
    flex-shrink: 0
  }
  .style0 {
    position: relative;
    margin-left: 0;
    margin-top: 328px;
    width: 768px;
    height: 4px
  }
  .row2 {
    display: flex;
    margin-left: 195px;
    margin-top: 4px;
    width: 446px;
    height: 37px
  }
  .style7 {
    opacity: .25;
    margin-left: 0;
    width: 440px;
    height: 100%;
    align-self: stretch
  }
  .style1,
  .style6 {
    margin-left: 207px;
    margin-top: 29px;
    width: 240px;
    height: 4px
  }
  .style1 {
    position: relative;
    margin-left: 121px;
    margin-top: 362px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .row0 {
    display: flex;
    margin-left: 159px;
    margin-top: 71px;
    width: 604px;
    height: 368px;
    align-items: stretch
  }
  .style2,
  .style3 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style2 {
    margin-left: 0;
    width: 265px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtptvv.png)
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpunt.png);
    opacity: .3;
    height: 368px
  }
  .style4,
  .style5 {
    position: relative;
    height: 368px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpvlv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 2px;
    align-items: stretch;
    flex-direction: column;
    opacity: .3
  }
  .style4 {
    opacity: .5;
    flex-shrink: 0
  }
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style8 {
    margin-left: 74px;
    width: 265px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpwwk.png)
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpxnn.png);
    opacity: .3;
    height: 368px
  }
  .style10,
  .style11 {
    opacity: .3;
    position: relative;
    height: 368px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpyoj.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 5px;
    width: 2px;
    align-items: stretch;
    flex-direction: column
  }
  .style10 {
    flex-shrink: 0
  }
  .style0 {
    position: relative;
    margin-left: 0;
    margin-top: 393px;
    width: 920px;
    height: 5px
  }
  .row2 {
    display: flex;
    margin-left: 233px;
    margin-top: 5px;
    width: 535px;
    height: 44px
  }
  .style7 {
    opacity: .25;
    margin-left: 0;
    width: 527px;
    height: 100%;
    align-self: stretch
  }
  .style1,
  .style6 {
    margin-left: 248px;
    margin-top: 34px;
    width: 287px;
    height: 5px
  }
  .style1 {
    position: relative;
    margin-left: 145px;
    margin-top: 434px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .row0 {
    display: flex;
    margin-left: 208px;
    margin-top: 93px;
    width: 787px;
    height: 480px;
    align-items: stretch
  }
  .style2,
  .style3 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style2 {
    margin-left: 0;
    width: 346px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtptvv.png)
  }
  .style3 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpunt.png);
    opacity: .3;
    height: 480px
  }
  .style4,
  .style5 {
    position: relative;
    height: 480px
  }
  .style5 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpvlv.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 3px;
    align-items: stretch;
    flex-direction: column;
    opacity: .3
  }
  .style4 {
    opacity: .5;
    flex-shrink: 0
  }
  .style8,
  .style9 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style8 {
    margin-left: 96px;
    width: 346px;
    align-items: stretch;
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpwwk.png)
  }
  .style9 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpxnn.png);
    opacity: .3;
    height: 480px
  }
  .style10,
  .style11 {
    opacity: .3;
    position: relative;
    height: 480px
  }
  .style11 {
    background-image: url(https://designresources.assets.yotako.io/7eahksck9qtpyoj.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    margin-left: 6px;
    width: 3px;
    align-items: stretch;
    flex-direction: column
  }
  .style10 {
    flex-shrink: 0
  }
  .style0 {
    position: relative;
    margin-left: 0;
    margin-top: 512px;
    width: 1200px;
    height: 6px
  }
  .row2 {
    display: flex;
    margin-left: 304px;
    margin-top: 6px;
    width: 698px;
    height: 58px
  }
  .style7 {
    opacity: .25;
    margin-left: 0;
    width: 688px;
    height: 100%;
    align-self: stretch
  }
  .style1,
  .style6 {
    margin-left: 323px;
    margin-top: 45px;
    width: 374px;
    height: 6px
  }
  .style1 {
    position: relative;
    margin-left: 189px;
    margin-top: 566px
  }
}